.buttons1 {
  --color: #4d5bf8;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 4px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

.buttons1::before,
.buttons1::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color-primary);
  transition: 1s ease;
}

.buttons1::before {
  top: -1em;
  left: -1em;
}

.buttons1::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.buttons1:hover::before,
.buttons1:hover::after {
  height: 410px;
  width: 410px;
}

.buttons1:hover {
  color: rgb(10, 25, 30);
}

.buttons1:active {
  filter: brightness(0.8);
}
