@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&family=Dosis:wght@400;500;600;700&family=Lato:wght@400;700;900&family=Luckiest+Guy&family=Montserrat:wght@400;500;900&family=Poppins:ital,wght@0,400;1,900&display=swap");

:root {
  --color-bg: #00010a;
  --color-text: #2b2d42;
  --color-primary: rgb(77, 91, 248);
  --color-bg-variant: #9aa5fe;
  --color-primary-v: #0119cb;
  --color-primary-g: #f5f6f7;
  --color-primary-b: #818a93;
  --color-primary-a: #152542;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-primary-g);
}

.assistant {
  font-family: "Assistant", sans-serif;
}

.dosis {
  font-family: "Dosis", sans-serif;
}

.lucky {
  font-family: "Assistant", sans-serif;
}

.poppins {
  font-family: "Poppins";
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}
